on:
  push:
    branches: [main]
    tags: ['*']

name: Deploy

jobs:
  build:
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        image:
          - decision-task
          - push-image

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          push: true
          tags: ghcr.io/eijebong/taskcluster-images/${{ matrix.image }}:${{ github.ref_name }}
          context: ${{ matrix.image }}
